#app-container_todo-item {
    background-color: white;
    margin: 0 0 0.5em;
    display: flex;
    height: auto;
    overflow-y: auto;
    min-height: 1.8em;
    word-break: break-word;
    flex-direction: row;
    align-items: center ;
    border-radius: 12px;
}

#app-container_todo-item--done {
    text-decoration: line-through;


}

@media screen and (max-width : 1050px) {
    #app-container {
    max-width: 1050px;
    width: 90%;
    }
  }
  
  @media screen and (min-width: 720px), screen and (min-height: 1000px) {
    #app-container_header {
      font-size: 3em;
    }

    #input-textarea {
        font-size: 1.8em;
    }
    
    #input-button {
      font-size: 1.5em;
      height: 1.8em;
      width: 4em;
    }
    .input {
      height: 4em;
    }
  }

  @media screen and (max-width : 300px) {
    .input {
        width: 94%;
    }
    #app-container {
        padding: 11px 0;
    }
  }
  
  @media screen and (min-height : 1200px) {
      .App {
          min-width: 770px;
      }

  }